    <!-- Post section -->
    <section class="card w-50 container mt-5">
        <div class="d-flex  justify-content-between align-items-center mb-3">
            <label for="exampleFormControlInput1" class="form-label fs-3">What are you sharing with us today?</label>
            <div>
                <img src="/assets/images/Beep-Post.jpg" width="100px">
            </div>
        </div>
        <form id="postForm">
        <input type="title" class="form-control" id="post-title" placeholder="Post title">
        <div class="mt-3">
            <label for="exampleFormControlTextarea1" class="form-label fs-5"></label>
            </div>
            <textarea class="form-control" id="post-text" rows="3" placeholder="Your post"></textarea>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn px-4 my-3 mt-3 btn-primary">Post</button>
            </div>
        </div>
        </form>
    </section>

<script src="/js/post.js"></script>